
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=088d8586b25ca1e4eb2df3715637cbf4
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress
