*{
	margin:0;
	padding:0;
}

body{
	font:14px/1.5 Arial, Helvetica, sans-serif;
	color:#3c3c3c;
	background:#fff;
}

a, a:hover{text-decoration:none; color:#e85e2d;}

a span.glyphicon.glyphicon-plus{
	font-size: 18px;
}

h4.panel-title a span.glyphicon{
	float: right;
}

ul li{list-style-type:none;}

#wrapper{
	width:100%;
	margin:0 auto;
}

.container{
	/*width:960px;*/
	margin:0 auto;
}

a.logo{
    margin: 10px 0;
    display: inline-block;
}

.mar-top-10{margin: 10px 0 0 0;}
.mar-top-20{margin: 20px 0 0 0;}
.mar-top-bottom-10{margin: 10px 0;}
.mar-left-right-10{margin: 0 10px;}

.display-inline{display: inline;}

.btn-primary{
	background:#ec5f27;
	border-color: #ab4f27;
}

.footer{
	background: #ec5f27;
}
.footer p{
	color: #fff;
	margin: 5px 0 2px 0;
}

/*HEADER NAVIGATION STARTS HERE*/
.nav{
    width: 73%/*670px*/;
    display: inline-block;
    vertical-align: top;
	margin:30px 0 0 0;
}

.navbar-default .navbar-collapse,
.navbar-default{
	background: none;
    border: 0;
}

nav ul.header-navigation li{
	display:inline-block;
    margin: 0 0 0 4%;
}

.navbar-default .navbar-nav>li>a{
	color:#3c3c3c;
	font-weight:bold;
	background: none;
    padding: 5px;
}

.navbar-default .navbar-nav>li.active>a,
.navbar-default .navbar-nav>li>a:hover{
	color:#e85e2d;
	background: none;
}
/*HEADER NAVIGATION ENDS HERE*/

/*header right top sign-in-up div start form here*/
.registration-blog{
	display: inline-block;
    vertical-align: top;
	color:#080808;
	font-size:12px;
	font-weight:bold;
	width:132px;
	line-height:3;
}

.registration-blog span.usd{
	color:#ea6224;
}

.registration-blog .signin-button:hover,
.registration-blog .signup-button{
	background:#fff;
	border:1px solid #e85e2d;
	color:#e85e2d;
	font-weight:bold;
	padding:0 10px;
	cursor:pointer;
	line-height: 2.5;
}


.registration-blog .signin-button{
	margin: 0 10px;
}

.registration-blog .signup-button:hover,
.registration-blog .signin-button{
	background:#e85e2d ;
	border:0;
	color:#fff;
	font-weight:bold;
	padding:0 10px;
	cursor:pointer;
	line-height: 2.7;
}

/*tutor-registration start form here*/
.tutor-registration article div.box-one{
	width: 100%;
	position: relative;
	background: #fcfcfc;
	border: 1px solid #ccc;
	margin: 10px 0;
}

.tutor-registration article{
	margin: 20px 0 10px 0;
}


.tutor-registration .form-inline{
	margin: 10px 0;
}

.form-inline .form-group{
	margin: 0 0 15px 0;
	display: inline;
}

.tutor-registration .form-inline label{
	width: 30%;
}

.tutor-registration .form-inline .form-control{
	border:1px solid #e89d2d;
}

.tutor-registration .form-inline .form-control::-webkit-input-placeholder,
.tutor-registration .form-inline .form-control::-moz-input-placeholder{
	color: #e89d2d;
}

.tutor-registration .form-inline .zip input{
	width: 35%;
}

.tutor-registration .form-inline .choose-file label,
.tutor-registration .form-inline .checkboxes label{
	width: 22%;
}

.tutor-registration .form-inline .checkboxes .checkbox label.checkbox-inline{
	width: auto;
}

.tutor-registration .form-inline .choose-file input[type=file]{
	display: inline;
}

.tutor-registration .form-inline textarea.form-control{
    max-width: 100%;
    min-width: 100%;
    max-height: 100px;
    min-height: 100px;
}

.tutor-registration .form-inline .radio label{
	width: auto;
}

.tutor-registration .form-inline .phone label,
.tutor-registration .form-inline .email-box label{
	width: 14.3%;
}

.tutor-registration .form-inline .phone a,
.tutor-registration .form-inline .email-box a{
	margin: 0 0 0 1%;
}

/*home page banner section starts here*/
.hero-image figure img{
	width: 100%;
}