
@media screen and (min-width:320px) and (max-width:640px){
.custom-header .navbar-default{
	width:100%;
}

.logo-pic img{
	width:100%;
	height:auto;
}

.registration-blog{
    margin: 4% 0 0 2%;	
}

@media screen and (min-width:320px) and (max-width:640px){}