@media only screen and (min-width: 320px) and (max-width: 568px){
.logo,
.main-menu{
	display:none;
}

.subcategory-links-box .ult-content-box span.subcategory-link,
.currency-box{
	width:auto;
}


.infodetails-box{
	text-align:center;
}

.tutor-name {
        width: 100%;
}

.session-buttons{
	padding: 2em 0 0 0;
}

.availability-content span,
.session-info .hasDatepicker .ui-datepicker-header select.ui-datepicker-month, 
.session-info .hasDatepicker .ui-datepicker-header  select.ui-datepicker-year,
video.video-js,
.woocommerce-ResetPassword.lost_reset_password,
.woocommerce form.login.form-signin,
.tutor-registration .form-inline .zip input,
.tutor-registration .form-inline .choose-file label, 
.tutor-registration .form-inline .checkboxes label,
.tutor-registration .form-inline .phone label,
.tutor-registration .form-inline .email-box label,
.tutor-registration .form-inline label,
.tutor-registration .form-inline  #address,
.student-registration .form-inline .phone label, 
.student-registration .form-inline .nric label,
.student-registration .form-inline label,
 p.chzn-drop select.select,
 p.chzn-drop,
 .state-div, 
 .city-div,
 .student-registration .form-inline .form-control,
 .student-registration .grade select.form-control, 
 .student-registration .gender select.form-control,
 .tutor-registration .form-inline .address input[type='text'].form-control,
 .contactus-container label span.text-name,
.contactus-container label span.text-email,
.contactus-container label span.text-message,
.contactus-container label,
.contactus-container input[type="submit"],
.student-registration .form-inline p.field-para,
.tutor-registration .form-inline p.field-para{
	width:100% !important;
}

.form-inline a.tooltip-bottom{
	display: block;
    	margin: 6% auto;
    	width: 10px;
}

.contactus-container span.text-message textarea{
	width:100% !important;
	max-width:100% !important;
	min-width: 100% !important;
}

.institute,
.tutor-registration .form-inline .language-box .form-inline,
.tutor-registration .educational-section .form-inline{
	background: #ececec;
    padding: 1em;
    margin: 0 0 0.5em 0;
}

.institute .add-more,
.tutor-registration .form-inline .add-more {
    margin: 0.5em auto !important;
    display: block;
    width: 100%;
    text-align: center;
}

.loader-gif {
    width: 4% !important;
}

/*student-account-edit ui*/
.woocommerce form.change-details .form-row,
.woocommerce-account .woocommerce-MyAccount-navigation,
.woocommerce-account .woocommerce-MyAccount-content{
	width: 100% !important;
}

.history-table .glyphicon-calendar,
.date-time .glyphicon-calendar{
	display: block;
    margin: 1em auto !important;
    width: 30px;
}

.add-session{
	text-align: center;
}

.myaccount_view .form-inline .completion-year,
.history-table .date-time .select,
.upload-course p.field-para.date-time input[type="text"]{
	width: 100% !important;
}

.history-table .link-mtdytd{
	margin: 1em !important;
    display: inline-block;
}

.new-course-form .form-inline .upload-course{
	background: #ececec;
    padding: 1em;
}

.add-session button{
    width: 93%;
}

.date-time button{
	width: 99%;
}

.table-responsive{
	width: 90%;    
	margin: 1em;
	border: 1px solid #e89d2d;
}

.filter-box .col-md-2,
.hourly-rate{
    margin: 0 0 1em 0;
}

.woocommerce-account .woocommerce-MyAccount-content {
    padding: 1em 0;
}

/*Course Search page UI*/
.course-search input[type='text'].search-field{
	width: 90% !important;
}

.filter-box p.field-para input[type="range"],
.filter-box p.field-para input[type="text"],
.filter-box p.field-para select{
	margin: 0 0 1em 0;
	width:100%;
}

.curriculum-select{
	padding: 0 15px!important;
}

input[type="range"].range-slider__range{
	width: 50% !important;
}

ul.exam-prep-results li.result-box, ul.oneonone-results li.result-box{
	width: 100% !important;
    padding: 1em 0.5em !important;
	height:auto!important;
}

ul.exam-prep-results li.result-box p.field-para, 
ul.oneonone-results li.result-box p.field-para{
	margin: 0 0 1em 0;
}

.left-slider{height:220px !important;}


.course-video-box{ min-height: auto !important;}

div.dataTables_wrapper div.dataTables_length select{width:50% !important;margin: 0.5em;}

.tutor-picture, .tutor-info{text-align:left;}

.sm-device{display:block !important;}

.desktop-device{display:none;}

.session-info .ui-datepicker td span, .session-info .ui-datepicker td a{padding:0.2em !important;}


}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
.logo,
.main-menu{
	display:none;
}

.subcategory-links-box .ult-content-box span.subcategory-link,
.currency-box{
	width:auto;
}

.institute,
.tutor-registration .form-inline .language-box .form-inline,
.tutor-registration .educational-section .form-inline{
	background: #ececec;
    padding: 1em;
    margin: 0 0 0.5em 0;
}

.institute .add-more,
.tutor-registration .form-inline .add-more {
    margin: 0.5em auto !important;
    display: block;
    width: 100%;
    text-align: center;
}

.loader-gif {
    width: 4% !important;
}

/*student-account-edit ui*/
.woocommerce form.change-details .form-row,
.woocommerce-account .woocommerce-MyAccount-navigation,
.woocommerce-account .woocommerce-MyAccount-content{
	width: 100% !important;
}

.registerbox-resp{display:block !important; padding:1em 1em 0 0;}

.left-slider{height:143px !important;}

.ult-content-box{text-align:center;}

.aws-container .aws-search-field{width:100%!important;}

.column-grey-dark{height:620px!important;}

.sf-menu > li{display:inline-block;float: none !important;}

.wh-footer .wh-footer-bottom .sf-menu,
.social-links{text-align:center !important;}

.course-video-box video{max-width:100% !important;}

a.search-btn{display: block; text-align: center;}

div.dataTables_wrapper div.dataTables_length label,
div.dataTables_wrapper div.dataTables_filter label{white-space:inherit !important; line-height: 35px !important;}

div.table-responsive>div.dataTables_wrapper>div.row>div[class^="col-"]:last-child{padding:0;}

}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape){

.logo,
.main-menu{
	display:none;
}

.subcategory-links-box .ult-content-box span.subcategory-link,
.currency-box{
	width:auto;
}

.institute,
.tutor-registration .form-inline .language-box .form-inline,
.tutor-registration .educational-section .form-inline{
	background: #ececec;
    padding: 1em;
    margin: 0 0 0.5em 0;
}

.institute .add-more,
.tutor-registration .form-inline .add-more {
    margin: 0.5em auto !important;
    display: block;
    width: 100%;
    text-align: center;
}

.loader-gif {
    width: 4% !important;
}

/*student-account-edit ui*/
.woocommerce form.change-details .form-row,
.woocommerce-account .woocommerce-MyAccount-navigation,
.woocommerce-account .woocommerce-MyAccount-content{
	width: 100% !important;
}

.registerbox-resp{display:block !important; padding:0 1em 0 0;}

.session-info .hasDatepicker .ui-datepicker-header select.ui-datepicker-month, 
.session-info .hasDatepicker .ui-datepicker-header  select.ui-datepicker-year{
	width: 45% !important;
    display: inline-block;
}

} /*----------- iPhone 5 and 5S ends here----------- */

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) { 
.logo,
.main-menu{
	display:none;
}	

.subcategory-links-box .ult-content-box span.subcategory-link,
.currency-box{
	width:auto;
}

.institute,
.tutor-registration .form-inline .language-box .form-inline,
.tutor-registration .educational-section .form-inline{
	background: #ececec;
    padding: 1em;
    margin: 0 0 0.5em 0;
}

.institute .add-more,
.tutor-registration .form-inline .add-more {
    margin: 0.5em auto !important;
    display: block;
    width: 100%;
    text-align: center;
}

.loader-gif {
    width: 4% !important;
}

/*student-account-edit ui*/
.woocommerce-ResetPassword.lost_reset_password,
.woocommerce form.login.form-signin,
.woocommerce form.change-details .form-row,
.woocommerce-account .woocommerce-MyAccount-navigation,
.woocommerce-account .woocommerce-MyAccount-content{
	width: 100% !important;
}

/*Course Search page UI*/
.course-search input[type='text'].search-field{
	width: 90% !important;
}

.filter-box p.field-para input[type="range"],
.filter-box p.field-para input[type="text"],
.filter-box p.field-para select{
	margin: 0 0 1em 0;
}

.curriculum-select{
	padding: 0 15px!important;
}

input[type="range"].range-slider__range{
	width: 80% !important;
}

ul.exam-prep-results li.result-box, ul.oneonone-results li.result-box{
	width: 100% !important;
    padding: 1em 0.5em !important;
	height:auto!important;
}

.tutor-picture, .tutor-info{text-align:left;}


}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
input[type="range"].range-slider__range{
	width: 50% !important;
}
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
video.video-js,  
.tutor-registration .form-inline .zip input,
.tutor-registration .form-inline .choose-file label, 
.tutor-registration .form-inline .checkboxes label,
.tutor-registration .form-inline .phone label,
.tutor-registration .form-inline .email-box label,
.tutor-registration .form-inline label,
.tutor-registration .form-inline  #address,
.student-registration .form-inline .phone label, 
.student-registration .form-inline .nric label,
.student-registration .form-inline label,
 p.chzn-drop select.select,
 p.chzn-drop,
 .state-div, 
 .city-div,
 .student-registration .form-inline .form-control,
 .student-registration .grade select.form-control, 
 .student-registration .gender select.form-control,
 .tutor-registration .form-inline .address input[type='text'].form-control,
 .contactus-container label span.text-name,
.contactus-container label span.text-email,
.contactus-container label span.text-message,
.contactus-container label,
.contactus-container input[type="submit"],
.student-registration .grade select.form-control,
.student-registration .form-inline p.field-para,
.tutor-registration .form-inline p.field-para{
	width: 100% !Important;
}

.institute,
.tutor-registration .form-inline .language-box .form-inline,
.tutor-registration .educational-section .form-inline{
	background: #ececec;
    padding: 1em;
    margin: 0 0 0.5em 0;
}

.institute .add-more,
.tutor-registration .form-inline .add-more {
    margin: 0.5em auto !important;
    display: block;
    width: 100%;
    text-align: center;
}

.loader-gif {
    width: 4% !important;
}

/*student-account-edit ui*/
.woocommerce form.change-details .form-row,
.woocommerce-account .woocommerce-MyAccount-navigation,
.woocommerce-account .woocommerce-MyAccount-content{
	width: 100% !important;
}

.history-table .glyphicon-calendar,
.date-time .glyphicon-calendar{
	display: block;
    margin: 1em auto !important;
    width: 30px;
}

.add-session{
	text-align: center;
}

.myaccount_view .form-inline .completion-year,
.history-table .date-time .select,
.upload-course p.field-para.date-time input[type="text"]{
	width: 100% !important;
}

.history-table .link-mtdytd{
	margin: 1em !important;
    display: inline-block;
}

.new-course-form .form-inline .upload-course{
	background: #ececec;
    padding: 1em;
}

.add-session button{
    width: 93%;
}

.date-time button{
	width: 99%;
}

.table-responsive{
	width: 90%;    
	margin: 1em;
	border: 1px solid #e89d2d;
}

.hourly-rate{
    margin: 0 0 1em 0;
}

.woocommerce-account .woocommerce-MyAccount-content {
    padding: 1em 0;
}

.registerbox-resp{display:block !important; padding:1em 1em 0 0;}

}
/* ----------- iPhone 6 ends here----------- */

/* ----------- iPhone 6+ ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) { 
.logo,
.main-menu{
	display:none;
}	

.subcategory-links-box .ult-content-box span.subcategory-link,
.currency-box{
	width:auto;
}
video.video-js,
.tutor-registration .form-inline .zip input,
.tutor-registration .form-inline .choose-file label, 
.tutor-registration .form-inline .checkboxes label,
.tutor-registration .form-inline .phone label,
.tutor-registration .form-inline .email-box label,
.tutor-registration .form-inline label,
.tutor-registration .form-inline  #address,
.student-registration .form-inline .phone label, 
.student-registration .form-inline .nric label,
.student-registration .form-inline label,
 p.chzn-drop select.select,
 p.chzn-drop,
 .state-div, 
 .city-div,
 .student-registration .form-inline .form-control,
 .student-registration .grade select.form-control, 
 .student-registration .gender select.form-control,
 .tutor-registration .form-inline .address input[type='text'].form-control,
 .contactus-container label span.text-name,
.contactus-container label span.text-email,
.contactus-container label span.text-message,
.contactus-container label,
.contactus-container input[type="submit"],
.student-registration .grade select.form-control,
.tutor-registration .form-inline p.field-para,
.student-registration .form-inline p.field-para{
	width: 100% !Important;
}

.institute,
.tutor-registration .form-inline .language-box .form-inline,
.tutor-registration .educational-section .form-inline{
	background: #ececec;
    padding: 1em;
    margin: 0 0 0.5em 0;
}

.institute .add-more,
.tutor-registration .form-inline .add-more {
    margin: 0.5em auto !important;
    display: block;
    width: 100%;
    text-align: center;
}

.loader-gif {
    width: 4% !important;
}

/*student-account-edit ui*/
.woocommerce form.change-details .form-row,
.woocommerce-account .woocommerce-MyAccount-navigation,
.woocommerce-account .woocommerce-MyAccount-content{
	width: 100% !important;
}

/*Course Search page UI*/
.course-search input[type='text'].search-field{
	width: 90% !important;
}

.filter-box p.field-para input[type="range"],
.filter-box p.field-para input[type="text"],
.filter-box p.field-para select{
	margin: 0 0 1em 0;
}

.curriculum-select{
	padding: 0 15px!important;
}

input[type="range"].range-slider__range{
	width: 80% !important;
}

ul.exam-prep-results li.result-box, ul.oneonone-results li.result-box{
	width:48% !important;
    padding: 1em 0.5em !important;
    display: inline-block;
    float: none;
}

.woocommerce-ResetPassword.lost_reset_password{
	width:50%;
}

.registerbox-resp{display:block !important; padding:0 1em 0 0;}

}

/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
.history-table .glyphicon-calendar,
.date-time .glyphicon-calendar{
	display: block;
    margin: 1em auto !important;
    width: 30px;
}

.add-session{
	text-align: center;
}


.myaccount_view .form-inline .completion-year,
.history-table .date-time .select,
.upload-course p.field-para.date-time input[type="text"]{
	width: 100% !important;
}

.history-table .link-mtdytd{
	margin: 1em !important;
    display: inline-block;
}

.new-course-form .form-inline .upload-course{
	background: #ececec;
    padding: 1em;
}

.add-session button{
    width: 93%;
}

.date-time button{
	width: 99%;
}

.table-responsive{
	width: 90%;    
	margin: 1em;
	border: 1px solid #e89d2d;
}

.hourly-rate{
    margin: 0 0 1em 0;
}

.woocommerce-account .woocommerce-MyAccount-content {
    padding: 1em 0;
}

input[type="range"].range-slider__range{
	width: 65% !important;
}

}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
.student-registration .grade select.form-control{
	width: 100% !Important;
}

.history-table .glyphicon-calendar,
.date-time .glyphicon-calendar{
	display: block;
    margin: 1em auto !important;
    width: 30px;
}

.add-session{
	text-align: center;
}

.myaccount_view .form-inline .completion-year,
.history-table .date-time .select,
.upload-course p.field-para.date-time input[type="text"]{
	width: 100% !important;
}

.history-table .link-mtdytd{
	margin: 1em !important;
    display: inline-block;
}

.new-course-form .form-inline .upload-course{
	background: #ececec;
    padding: 1em;
}

.add-session button{
    width: 93%;
}

.date-time button{
	width: 99%;
}

.table-responsive{
	width: 90%;    
	margin: 1em;
	border: 1px solid #e89d2d;
}

.hourly-rate{
    margin: 0 0 1em 0;
}

.woocommerce-account .woocommerce-MyAccount-content {
    padding: 1em 0;
}

}
/* ----------- iPhone ends here----------- */
/* ipad css*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
.student-registration .form-inline label,
.tutor-registration .form-inline label{
	width:28%  !Important;
}

.student-registration .form-inline .check label{
	width:auto !important;
}
.student-registration .form-inline .shipping-address label{
	width: 28% !Important;
	display: inline-block !important;
}

.student-registration .form-inline .shipping-address .field-para {
    width: 60%;
}

.tutor-registration .form-inline .shipping-address label {
    width: 18% !Important;
}

.institute,
.tutor-registration .form-inline .language-box .form-inline,
.tutor-registration .educational-section .form-inline{
	background: #ececec;
    padding: 1em;
    margin: 0 0 0.5em 0;
}


.loader-gif {
    width: 4% !important;
}


.myaccount_view .form-inline .nric label{
	width: 20% !important;
}

/*Course Search page UI*/
.course-search input[type='text'].search-field{
	width: 90% !important;
}

.filter-box p.field-para input[type="range"],
.filter-box p.field-para input[type="text"],
.filter-box p.field-para select{
	margin: 0 0 1em 0;
	width: 100%;
}

.curriculum-select{
	padding: 0 15px!important;
}

input[type="range"].range-slider__range{
	width: 80% !important;
}

}
 
/*Portrait ipad*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){
.student-registration .form-inline p.field-para,
.tutor-registration .form-inline p.field-para,
.state-div, .city-div,
.student-registration .form-inline p.field-para .form-control,
.student-registration .form-inline p.field-para select.select,
.tutor-registration .form-inline p.field-para .form-control,
.tutor-registration .form-inline .shipping-address .field-para input[type="text"]
{
	width:70% !important;	
}

video.video-js,
.student-registration .form-inline .state-div p.field-para,
.student-registration .form-inline .city-div p.field-para,
.tutor-registration .form-inline .state-div p.field-para,
.tutor-registration .form-inline .city-div p.field-para{
	width:100% !important;
}


.state p.chzn-drop select.select,
.country p.chzn-drop select.select {
    width: 92.8% !important;
	margin:0 0 1em 0;
}

.student-registration .form-inline .shipping-address .field-para input[type="text"] {
    width: 70% !important;
}

.institute,
.languages,
.subjects,
.tutor-registration .form-inline .language-box .form-inline,
.tutor-registration .educational-section .form-inline{
	background: #ececec;
    padding: 1em;
    margin: 0 0 0.5em 0;
}

.institute .add-more,
.tutor-registration .form-inline .add-more {
    margin: 0.5em auto !important;
    display: block;
    width: 100%;
    text-align: center;
}

.loader-gif {
    width: 4% !important;
}

.myaccount_view .form-inline .grade label,
.myaccount_view .form-inline .gender label,
.myaccount_view .form-inline .city label,
.myaccount_view .form-inline .country label,
.myaccount_view .form-inline .nric label,
.tutor-registration .form-inline .shipping-address label {
	width: 28% !important;
    display: inline-block !important;
}

.myaccount_view .form-inline .country p.chzn-drop{
	display: inline-block !important;
    width: 53% !important;	
}

.woocommerce-account .woocommerce-MyAccount-content {
    width: 77%;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 1%;
}

.woocommerce-account .woocommerce-MyAccount-navigation {
    width: 20%;
    display: inline-block;
    float: none;
}

.tutor-registration .educational-section .form-inline label{
	width: 28% !important;
    display: inline-block;
}

.tutor-registration .educational-section p.field-para{
	width: 71% !important;
}

.myaccount_view .form-inline .nric,
.tutor-registration .educational-section .form-inline  .completion-year{
	width:100%  !Important;
}

.tutor-registration .form-inline .add-more {
    margin: 0.5em auto !important;
    display: block;
    width: 100%;
    text-align: center;
}

.form-inline .date-time p.field-para .form-control{
    margin: 0 0 1em 0;
}

.submit-history{
	padding: 0 0 0 11em;
}

.myaccount_edit .student-account .city select.form-control,
.myaccount_edit .student-account .state p.chzn-drop select.select{
	width: 70% !Important;
}

ul.exam-prep-results li.result-box, ul.oneonone-results li.result-box{
	width: 48% !important;
    padding: 1em 0.5em !important;
    display: inline-block;
    float: none;
}

.registration-blog{width: 30% !important;}

.left-slider{height:181px !important;}

.howitworks-image{height:181px !important;}

.related-links-section-ipad{display:block;}

.ult-content-box{text-align:center;}

.woocommerce-ResetPassword.lost_reset_password, .woocommerce form.login.form-signin {
    width: 50% !important;
}

.form-inline a.tooltip-bottom{
	display: block;
    margin:0 auto;
    width: 10px;
}


.student-registration .filling-form .field-para label.error{
	width:auto  !Important;
	display:block!important;
}

.search-login{
	width:180px;
}

.tutor-registration .form-inline p.field-para{
	margin:0 0 1.2em 0;
}

p.chzn-drop select.select {
    width: 93% !important;
}

.tutor-detail-box .course-video-box{
	margin: 3em 0 0 0;}

}

/*landscape ipad*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

.myaccount_view .form-inline .nric label,
.student-registration .form-inline label,
.tutor-registration .form-inline label,
.tutor-registration .educational-section .form-inline label{
	width:100%  !Important;
}

.student-registration .form-inline .institute-box{
	width: 60%;
}

input[type="range"].range-slider__range{
	width: 58% !important;
}


ul.exam-prep-results li.result-box, ul.oneonone-results li.result-box{
	width:32% !important;
    padding: 1em 0.5em !important;
    
}

.ult-content-box{text-align:center;}

.submit-box p.field-para {width:80px;}

}