@media only screen and (min-width: 320px) and (max-width: 568px){
.logo,
.main-menu{
	display:none;
}

.subcategory-links-box .ult-content-box span.subcategory-link,
.currency-box{
	width:auto;
}


.infodetails-box{
	text-align:center;
}

.tutor-name {
        width: 100%;
}

.session-buttons{
	padding: 2em 0 0 0;
}

.tutor-registration .form-inline .zip input,
.tutor-registration .form-inline .choose-file label, 
.tutor-registration .form-inline .checkboxes label,
.tutor-registration .form-inline .phone label,
.tutor-registration .form-inline .email-box label,
.tutor-registration .form-inline label,
.tutor-registration .form-inline  #address,
.student-registration .form-inline .phone label, 
.student-registration .form-inline .nric label,
.student-registration .form-inline label,
 p.chzn-drop select.select,
 p.chzn-drop,
 .state-div, 
 .city-div,
 .student-registration .form-inline .form-control,
 .student-registration .grade select.form-control, 
 .student-registration .gender select.form-control,
 .tutor-registration .form-inline .address input[type='text'].form-control,
 .contactus-container label span.text-name,
.contactus-container label span.text-email,
.contactus-container label span.text-message,
.contactus-container label,
.contactus-container input[type="submit"],
.student-registration .form-inline p.field-para,
.tutor-registration .form-inline p.field-para{
	width:100% !important;
}

.form-inline a.tooltip-bottom{
	display: block;
    	margin: 6% auto;
    	width: 10px;
}

.contactus-container span.text-message textarea{
	width:100% !important;
	max-width:100% !important;
	min-width: 100% !important;
}

.institute,
.tutor-registration .form-inline .language-box .form-inline,
.tutor-registration .educational-section .form-inline{
	background: #ececec;
    padding: 1em;
    margin: 0 0 0.5em 0;
}

.institute .add-more,
.tutor-registration .form-inline .add-more {
    margin: 0.5em auto !important;
    display: block;
    width: 100%;
    text-align: center;
}

.loader-gif {
    width: 4% !important;
}

/*student-account-edit ui*/
.woocommerce form.change-details .form-row,
.woocommerce-account .woocommerce-MyAccount-navigation,
.woocommerce-account .woocommerce-MyAccount-content{
	width: 100% !important;
}

.history-table .glyphicon-calendar,
.date-time .glyphicon-calendar{
	display: block;
    margin: 1em auto !important;
    width: 30px;
}

.add-session{
	text-align: center;
}

.myaccount_view .form-inline .completion-year,
.history-table .date-time .select,
.upload-course p.field-para.date-time input[type="text"]{
	width: 100% !important;
}

.history-table .link-mtdytd{
	margin: 1em !important;
    display: inline-block;
}

.new-course-form .form-inline .upload-course{
	background: #ececec;
    padding: 1em;
}

.add-session button{
    width: 93%;
}

.date-time button{
	width: 99%;
}

.table-responsive{
	width: 90%;    
	margin: 1em;
	border: 1px solid #e89d2d;
}

.hourly-rate{
    margin: 0 0 1em 0;
}

.woocommerce-account .woocommerce-MyAccount-content {
    padding: 1em 0;
}


}

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
.logo,
.main-menu{
	display:none;
}

.subcategory-links-box .ult-content-box span.subcategory-link,
.currency-box{
	width:auto;
}

.institute,
.tutor-registration .form-inline .language-box .form-inline,
.tutor-registration .educational-section .form-inline{
	background: #ececec;
    padding: 1em;
    margin: 0 0 0.5em 0;
}

.institute .add-more,
.tutor-registration .form-inline .add-more {
    margin: 0.5em auto !important;
    display: block;
    width: 100%;
    text-align: center;
}

.loader-gif {
    width: 4% !important;
}

/*student-account-edit ui*/
.woocommerce form.change-details .form-row,
.woocommerce-account .woocommerce-MyAccount-navigation,
.woocommerce-account .woocommerce-MyAccount-content{
	width: 100% !important;
}
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape){

.logo,
.main-menu{
	display:none;
}

.subcategory-links-box .ult-content-box span.subcategory-link,
.currency-box{
	width:auto;
}

.institute,
.tutor-registration .form-inline .language-box .form-inline,
.tutor-registration .educational-section .form-inline{
	background: #ececec;
    padding: 1em;
    margin: 0 0 0.5em 0;
}

.institute .add-more,
.tutor-registration .form-inline .add-more {
    margin: 0.5em auto !important;
    display: block;
    width: 100%;
    text-align: center;
}

.loader-gif {
    width: 4% !important;
}

/*student-account-edit ui*/
.woocommerce form.change-details .form-row,
.woocommerce-account .woocommerce-MyAccount-navigation,
.woocommerce-account .woocommerce-MyAccount-content{
	width: 100% !important;
}
}/* ----------- iPhone 5 and 5S ends here----------- */

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) { 
.logo,
.main-menu{
	display:none;
}	

.subcategory-links-box .ult-content-box span.subcategory-link,
.currency-box{
	width:auto;
}

.institute,
.tutor-registration .form-inline .language-box .form-inline,
.tutor-registration .educational-section .form-inline{
	background: #ececec;
    padding: 1em;
    margin: 0 0 0.5em 0;
}

.institute .add-more,
.tutor-registration .form-inline .add-more {
    margin: 0.5em auto !important;
    display: block;
    width: 100%;
    text-align: center;
}

.loader-gif {
    width: 4% !important;
}

/*student-account-edit ui*/
.woocommerce form.change-details .form-row,
.woocommerce-account .woocommerce-MyAccount-navigation,
.woocommerce-account .woocommerce-MyAccount-content{
	width: 100% !important;
}

}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
.tutor-registration .form-inline .zip input,
.tutor-registration .form-inline .choose-file label, 
.tutor-registration .form-inline .checkboxes label,
.tutor-registration .form-inline .phone label,
.tutor-registration .form-inline .email-box label,
.tutor-registration .form-inline label,
.tutor-registration .form-inline  #address,
.student-registration .form-inline .phone label, 
.student-registration .form-inline .nric label,
.student-registration .form-inline label,
 p.chzn-drop select.select,
 p.chzn-drop,
 .state-div, 
 .city-div,
 .student-registration .form-inline .form-control,
 .student-registration .grade select.form-control, 
 .student-registration .gender select.form-control,
 .tutor-registration .form-inline .address input[type='text'].form-control,
 .contactus-container label span.text-name,
.contactus-container label span.text-email,
.contactus-container label span.text-message,
.contactus-container label,
.contactus-container input[type="submit"],
.student-registration .grade select.form-control,
.student-registration .form-inline p.field-para,
.tutor-registration .form-inline p.field-para{
	width: 100% !Important;
}

.institute,
.tutor-registration .form-inline .language-box .form-inline,
.tutor-registration .educational-section .form-inline{
	background: #ececec;
    padding: 1em;
    margin: 0 0 0.5em 0;
}

.institute .add-more,
.tutor-registration .form-inline .add-more {
    margin: 0.5em auto !important;
    display: block;
    width: 100%;
    text-align: center;
}

.loader-gif {
    width: 4% !important;
}

/*student-account-edit ui*/
.woocommerce form.change-details .form-row,
.woocommerce-account .woocommerce-MyAccount-navigation,
.woocommerce-account .woocommerce-MyAccount-content{
	width: 100% !important;
}

.history-table .glyphicon-calendar,
.date-time .glyphicon-calendar{
	display: block;
    margin: 1em auto !important;
    width: 30px;
}

.add-session{
	text-align: center;
}

.myaccount_view .form-inline .completion-year,
.history-table .date-time .select,
.upload-course p.field-para.date-time input[type="text"]{
	width: 100% !important;
}

.history-table .link-mtdytd{
	margin: 1em !important;
    display: inline-block;
}

.new-course-form .form-inline .upload-course{
	background: #ececec;
    padding: 1em;
}

.add-session button{
    width: 93%;
}

.date-time button{
	width: 99%;
}

.table-responsive{
	width: 90%;    
	margin: 1em;
	border: 1px solid #e89d2d;
}

.hourly-rate{
    margin: 0 0 1em 0;
}

.woocommerce-account .woocommerce-MyAccount-content {
    padding: 1em 0;
}

}
/* ----------- iPhone 6 ends here----------- */

/* ----------- iPhone 6+ ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) { 
.logo,
.main-menu{
	display:none;
}	

.subcategory-links-box .ult-content-box span.subcategory-link,
.currency-box{
	width:auto;
}
.tutor-registration .form-inline .zip input,
.tutor-registration .form-inline .choose-file label, 
.tutor-registration .form-inline .checkboxes label,
.tutor-registration .form-inline .phone label,
.tutor-registration .form-inline .email-box label,
.tutor-registration .form-inline label,
.tutor-registration .form-inline  #address,
.student-registration .form-inline .phone label, 
.student-registration .form-inline .nric label,
.student-registration .form-inline label,
 p.chzn-drop select.select,
 p.chzn-drop,
 .state-div, 
 .city-div,
 .student-registration .form-inline .form-control,
 .student-registration .grade select.form-control, 
 .student-registration .gender select.form-control,
 .tutor-registration .form-inline .address input[type='text'].form-control,
 .contactus-container label span.text-name,
.contactus-container label span.text-email,
.contactus-container label span.text-message,
.contactus-container label,
.contactus-container input[type="submit"],
.student-registration .grade select.form-control,
.tutor-registration .form-inline p.field-para,
.student-registration .form-inline p.field-para{
	width: 100% !Important;
}

.institute,
.tutor-registration .form-inline .language-box .form-inline,
.tutor-registration .educational-section .form-inline{
	background: #ececec;
    padding: 1em;
    margin: 0 0 0.5em 0;
}

.institute .add-more,
.tutor-registration .form-inline .add-more {
    margin: 0.5em auto !important;
    display: block;
    width: 100%;
    text-align: center;
}

.loader-gif {
    width: 4% !important;
}

/*student-account-edit ui*/
.woocommerce form.change-details .form-row,
.woocommerce-account .woocommerce-MyAccount-navigation,
.woocommerce-account .woocommerce-MyAccount-content{
	width: 100% !important;
}

}

/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
.history-table .glyphicon-calendar,
.date-time .glyphicon-calendar{
	display: block;
    margin: 1em auto !important;
    width: 30px;
}

.add-session{
	text-align: center;
}

.myaccount_view .form-inline .completion-year,
.history-table .date-time .select,
.upload-course p.field-para.date-time input[type="text"]{
	width: 100% !important;
}

.history-table .link-mtdytd{
	margin: 1em !important;
    display: inline-block;
}

.new-course-form .form-inline .upload-course{
	background: #ececec;
    padding: 1em;
}

.add-session button{
    width: 93%;
}

.date-time button{
	width: 99%;
}

.table-responsive{
	width: 90%;    
	margin: 1em;
	border: 1px solid #e89d2d;
}

.hourly-rate{
    margin: 0 0 1em 0;
}

.woocommerce-account .woocommerce-MyAccount-content {
    padding: 1em 0;
}
}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
.student-registration .grade select.form-control{
	width: 100% !Important;
}

.history-table .glyphicon-calendar,
.date-time .glyphicon-calendar{
	display: block;
    margin: 1em auto !important;
    width: 30px;
}

.add-session{
	text-align: center;
}

.myaccount_view .form-inline .completion-year,
.history-table .date-time .select,
.upload-course p.field-para.date-time input[type="text"]{
	width: 100% !important;
}

.history-table .link-mtdytd{
	margin: 1em !important;
    display: inline-block;
}

.new-course-form .form-inline .upload-course{
	background: #ececec;
    padding: 1em;
}

.add-session button{
    width: 93%;
}

.date-time button{
	width: 99%;
}

.table-responsive{
	width: 90%;    
	margin: 1em;
	border: 1px solid #e89d2d;
}

.hourly-rate{
    margin: 0 0 1em 0;
}

.woocommerce-account .woocommerce-MyAccount-content {
    padding: 1em 0;
}

}
/* ----------- iPhone ends here----------- */
/* ipad css*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)  {
.student-registration .form-inline label,
.tutor-registration .form-inline label{
	width:28%  !Important;
}

.student-registration .form-inline .check label{
	width:auto !important;
}
.student-registration .form-inline .shipping-address label{
	width: 28% !Important;
}

.tutor-registration .form-inline .shipping-address label {
    width: 18% !Important;
}

.institute,
.tutor-registration .form-inline .language-box .form-inline,
.tutor-registration .educational-section .form-inline{
	background: #ececec;
    padding: 1em;
    margin: 0 0 0.5em 0;
}


.loader-gif {
    width: 4% !important;
}


.myaccount_view .form-inline .nric label{
	width: 20% !important;
}

}
 
/*Portrait ipad*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){
.student-registration .form-inline p.field-para,
.tutor-registration .form-inline p.field-para,
.state-div, .city-div,
.student-registration .form-inline p.field-para .form-control,
.tutor-registration .form-inline p.field-para .form-control,
.tutor-registration .form-inline .shipping-address .field-para input[type="text"]
{
	width:70% !important;	
}

.student-registration .form-inline .state-div p.field-para,
.student-registration .form-inline .city-div p.field-para,
.tutor-registration .form-inline .state-div p.field-para,
.tutor-registration .form-inline .city-div p.field-para{
	width:100% !important;
}


p.chzn-drop select.select {
    width: 92.8% !important;
}

.student-registration .form-inline .shipping-address .field-para input[type="text"] {
    width: 70% !important;
}

.institute,
.languages,
.subjects,
.tutor-registration .form-inline .language-box .form-inline,
.tutor-registration .educational-section .form-inline{
	background: #ececec;
    padding: 1em;
    margin: 0 0 0.5em 0;
}

.institute .add-more,
.tutor-registration .form-inline .add-more {
    margin: 0.5em auto !important;
    display: block;
    width: 100%;
    text-align: center;
}

.loader-gif {
    width: 4% !important;
}

.myaccount_view .form-inline .city label,
.myaccount_view .form-inline .country label,
.myaccount_view .form-inline .nric label,
.tutor-registration .form-inline .shipping-address label {
	width: 28% !important;
    display: inline-block !important;
}

.myaccount_view .form-inline .country p.chzn-drop{
	display: inline-block !important;
    width: 53% !important;	
}

.woocommerce-account .woocommerce-MyAccount-content {
    width: 77%;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 1%;
}

.woocommerce-account .woocommerce-MyAccount-navigation {
    width: 20%;
    display: inline-block;
    float: none;
}

.tutor-registration .educational-section .form-inline label{
	width: 20% !important;
    display: inline-block;
}

.tutor-registration .educational-section p.field-para{
	width: 78% !important;
}

.tutor-registration .educational-section .form-inline  .completion-year{
	width:100%  !Important;
}

.tutor-registration .form-inline .add-more {
    margin: 0.5em auto !important;
    display: block;
    width: 100%;
    text-align: center;
}

.form-inline .date-time p.field-para .form-control{
    margin: 0 0 0.5em 0;
}

.submit-history{
	padding: 0 0 0 11em;
}
}

/*landscape ipad*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
.tutor-registration .form-inline label,
.tutor-registration .educational-section .form-inline label{
	width:100%  !Important;
}

}